body {
    margin: 0;
}

.sign-up {
    color: white;
    background-color: rgb(85, 85, 235);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    padding: 8px 32px;
}

header, footer {
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: center;
    padding-bottom: 140px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 128px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.logo-link {
    display: flex;
    align-items: center;
}

.header-links {
    margin-left: auto;
}

.header-links ul{
    display: flex;
    list-style-type: none;
    gap: 16px;
    align-items: center;
}

.header-text {
    display: flex;
    gap: 48px;
}

 header .text {
    flex: 1;
}


.header-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
}

.header-text p, li {
    font-size: 18px;
    color: #e5e7eb;
}

.header-text img {
    flex: 1;
    height: 300px;
}

.content-one {
    margin: 60px 0 120px;
}

.content-one h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;

}

.images {
    margin-top: 60px;
    display: flex;
    gap: 48px;
    justify-content: center;
    color: #1f2937;
}


.image {
    flex: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    height: 300px;
    width: 300px;
    border: solid #3882f6 5px;
    border-radius: 10px;
}
